<!-- <div class="container-fluid position-relative d-flex p-0"> -->
    <!-- Spinner Start -->
    
    <!-- Spinner End -->
   
    <!-- Content Start -->
    <!-- <div class="content"> -->
        <!-- Navbar Start -->
        
        <!-- Navbar End -->

        <!-- <div class="container mt-5 mx-auto">
            <div class="row gap-3 ms-5">
                <div class="col-8 bg-white" style="border-radius: 11px;">
                    <h6 class="mb-4"><button class="btn btn-primary mt-3" data-bs-toggle="modal"
                            data-bs-target="#addcouponmodal">Add Coupon</button></h6>
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Coupon</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Created On</th>
                                <th scope="col">Expire On</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <th scope="row">1</th>
                                <td>name</td>
                                <td>diccount%</td>
                                <td>date created</td>
                                <td>exp</td>
                                <td><button data-bs-toggle="modal" data-bs-target="#hui"><i
                                            class="fas fa-edit"></i></button>

                                            edit modal
                                    <div class="modal fade" id="hui" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"
                                                        style="color: black;">Edit Coupon</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form id="categoryEdit" action="/admin/edit-coupon/" method="post">
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">Coupon
                                                                Name</label>
                                                            <input type="text" class="form-control" id="eName"
                                                                value="{{this.name}}" name="name">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">Discount</label>
                                                            <input type="number" class="form-control" id="eDiscount"
                                                                name="discount" value="{{this.discount}}">
                                                        </div>
                                                        <div class="mb-1">
                                                            <label for="date" class="col-form-label">Expiry Date</label>
                                                            <input type="date" class="form-control" id="eExpiryDate"
                                                                name="expiryDate" value="{{dateFormatChange this.expiryDateOn}}">
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="/admin/delete-coupon?id={{this._id}}"><button> <i class="fas fa-trash"></i></button></a> 
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {{!-- add coupon modal --}}
        <div class="modal fade" id="addcouponmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Add product Offer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="addCouponForm">
                        <div class="modal-body">


                            <div class="mb-3">
                                <label for="coupon" class="col-form-label">Coupon</label>
                                <input type="text" class="form-control" id="coupon" name="name">
                            </div>
                            <div class="mb-1">
                                <label for="recipient-name" class="col-form-label">Discount</label>
                                <input type="number" class="form-control" id="discount" name="discount">
                            </div>
                            <div class="mb-1">
                                <label for="date" class="col-form-label">Expiry Date</label>
                                <input type="date" class="form-control" id="expiryDate" name="expiryDate">
                            </div>

                        </div>
                        <div id="duplicateAlert" class="ms-2" style="color: rgb(173, 32, 32);">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>


        Back to Top
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div> -->

    <!---------coupen page-->
    <section class="container">
        <div class="d-flex align-items-end flex-column" >
          <div class="mt-5 d-flex  ">
         <button class="btn btn-success "  data-toggle="modal" data-target="#exampleModal">Add coupen</button>
          </div>
        </div>
      <!-- isf is alreadt exust  error message -->
      <%if(alreadyexistError){%>
        <p id="error" style="color: red;font-size: larger;"><%=alreadyexistError%></p>
       <%}%>
       <script>
         const error=document.getElementById("error")
         setTimeout(()=>{
       error.style.display='none';
       },3000);
       
       </script>
         
         </script>
        <div style=" background-color:white; margin-left: 2em;" class="my-3 m-3">
          <div class="container mt-2" style="margin-top:100px;">
           <div class="row">
              <table class="table">
                  <thead class="thead-dark">
                    <tr>
                        <th scope="col">index</th>
                        <th scope="col">brand Name</th>
                        <th scope="col">Discount</th>
                        <th scope="col">created Date</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Option</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% for(let i=0;i< coupendetails.length;i++){%>
                        <tr> 
                            <th scope="row"><%=i+1%></th>
                            <td><%=coupendetails[i].name%></td>
                            <td><%=coupendetails[i].discount%>%</td>
                            <td><%=coupendetails[i].createdDate%></td>
                            <td><%=coupendetails[i].expiryDate%></td>
                            <td><button class="btn btn-danger "data-toggle="modal" data-target="#modalConfirmDelete<%=coupendetails[i]._id%>" >DELETE</button></td>
                        </tr>  
                        <%}%>
                   
                  </tbody>
                </table>
           </div>
          </div>
          </div>
          
        
        </section>
    
    <!---------coupen page-->
    <!------modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add coupen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/admin/add-coupon" method="post">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="coupon" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="coupon" name="coupen">
                        </div>

                        <div class="mb-3">
                            <label for="coupon" class="col-form-label">Coupon code</label>
                            <input type="text" class="form-control" id="coupon" name="name">
                        </div>
                        <div class="mb-1">
                            <label for="recipient-name" class="col-form-label">Discount</label>
                            <input type="number" class="form-control" id="discount" name="discount">
                        </div>
                        <div class="mb-1">
                            <label for="date" class="col-form-label">Expiry Date</label>
                            <input type="date" class="form-control" id="expiryDate" name="expiryDate">
                        </div>

                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>

                </form>
    
            </div>
          </div>
       
        </div>
      </div>
      <!---------end---modal-->



     <!-------edit coupen modal------->
     <!------modal-->
     <% for(let i=0;i< coupendetails.length;i++){%>
        <div class="modal fade" id="modalConfirmDelete<%=coupendetails[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
              <!--Content-->
              <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                  <p class="heading">Are you sure?</p>
                </div>
          
                <!--Body-->
                <div class="modal-body">
          
                  <i class="fas fa-times fa-4x animated rotateIn"></i>
          
                </div>
          
                <!--Footer-->
                <div class="modal-footer flex-center">
                  <a href="/admin/detetecoupen/<%=coupendetails[i]._id%>" class="btn  btn-outline-danger">Yes</a>
                  <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
      <%}%>
     <!-----end--edit coupen modal------->