<section class="container">
  <div class="d-flex align-items-end flex-column" style="height: 200px;">
    <div class="mt-5 d-flex  "><a href="/admin/add-product" class="btn btn-success ">Add Products</a>
    </div>
  </div>
  <div style="background-color: white; margin-left: 2em; " class="my-3 m-3 ">
    <div class="container mt-2" style="margin-top:100px;">
     <div class="row">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">number </th>
                <th scope="col">productname</th>
                <th scope="col">category</th>
                <th scope="col">brand</th>
                <th scope="col">description</th>
                <th scope="col">Price</th>
                <th scope="col">quantity</th>
                <th scope="col">option</th>
                <th scope="col">option</th>
                <th scope="col">image</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < products.length; i++) { %>
                    <tr>
                        <th scope="row"><%=i+1%></th></th>
                        <td><%=products[i].productname %></td>
                        <td><%=products[i].categorydetails[0].categoryname%></td>
                        <td><%=products[i].branddetails[0].brandname%></td>
                        <td><%=products[i].description %></td>
                        <td><%=products[i].price %></td>
                        <td><%=products[i].quantity %></td>
                         <td><a href="/admin/editproduct/<%= products[i]._id%>" class="btn btn-primary">EDIT</a></td>
                         <td><a href="#" class="btn btn-danger">DELETE</a></td>
                         <td><img src="<%= products[i].imagesurl[0] %>" style="height: 50px;width: 50px;"></td>
                    </tr>
                    <% } %>
            </tbody>
          </table>
     </div>
    </div>
    </div>
    
  
  </section>