<div style=" background-color:white; margin-left: 2em;" class="my-3 m-3">
<div class="container mt-2">
 <div class="row">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">index</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">Phone</th>
            <th scope="col">option</th>
          </tr>
        </thead>
        <tbody>
          
            <% for(var i=0; i < users.length; i++) { %>
                <tr>
                    <th scope="row"><%=i+1%></th>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].Phonenumber %></td>
                      <td><% if(users[i].isBlocked){%>
                        <a href="/admin/block/<%=users[i]._id%>" class="btn btn-success">unblock</a>
                     <% }else{%>
                      <a href="/admin/block/<%=users[i]._id%>" class="btn btn-danger">block</a>
                     <%}%>
                        </td>
                </tr>
             <% } %>
        </tbody>
      </table>
 </div>
</div>
</div>